<div>
    <div class="submit-form">
      @if (!submitted) {
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="product.name"
          name="title"
        />
      </div>
  
      <div class="form-group">
        <label for="description">Description</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="product.description"
          name="description"
        />
      </div>
  
      <button (click)="saveProduct()" class="btn btn-success">Submit</button>
      } @else {
      <h4>Product was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newProduct()">Add</button>
      }
    </div>
  </div>
  